body {
    background: black;
}

#canvas1 {
    background: url("pixelalien/gamebackgrounds/theme1-bg-1920x1080.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
}