body {
    background: black;
}

#canvas1 {
    background: url("/Pixel Alien/2. Game Backgrounds/1920x1080/Theme1 Background/JPG/Theme1-BG-1920x1080.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
}